* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    padding: 0px 10px;
    background-color: rgb(0, 0, 0);
}

.title {
    color: white;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

#diagram-column {
    background-color: grey;
    border-radius: 8px;
    height: 500px;
    width: 250px;
}


.diagram-title {
    color: white;
    padding: 6px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

.diagram {
    padding: 10px;
    margin: 60px;
}

.legend__list {
    display: block;
}

.legend__item {
    background-color: rgba(0, 0, 0, 0.315);
    color: white;
    margin: 25px;
    margin-left: 6px;
    width: 200px;
    border-radius: 6px;
}

#table-column {
    flex: 1;
    padding: 0px 20px;
}

.table {
    width: 100%;
    text-align: center;

}

.tasks {
    background-color: grey;
    width: 400px;
    border-radius: 8px;
}

thead {
    background-color: black;
    color: white;

}

.table__row {}

.editor {
    background-color: grey;
    height: 500px;
    width: 200px;
    border-radius: 8px;

}

td {

    padding: 10px;
    text-align: center;
}

.editor__row {
    padding: 0;
    border: none;
    outline: none;
    font-size: 20px;
    flex: 1 1 50px;
    border-radius: 5px;
}

.btn {}